:root {
    --main-font: "Playwrite IE", cursive;
}

body {
    background: rgb(63, 4, 119);
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    font-family: var(--main-font);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('../images/polyam-triad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: white;
    padding: 50px 0;
    text-align: center;
}


header h1 {
    font-size: 60px;
    letter-spacing: 5px;
    margin-top: 140px;
    margin-bottom: -20px;
}

header h2 {
    letter-spacing: 3px;
    margin-bottom: 60px;
}

header a {
    text-decoration: none;
    color: rgb(110, 53, 174);
    background: white;
    padding: 5px 10px;
    font-size: 13px;
}

footer {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('../images/women-polycule.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 991px) {
    header {
        padding: 10px 0;
    }

    header a {
        display: inline-block;
        margin-bottom: 10px;
    }
}